.loginContainer {
  display: flex;
  flex-direction: column;
  background: rgba(54, 226, 111, 0.611);
  background: linear-gradient(
    86deg,
    rgba(54, 226, 110, 1) 0%,
    rgba(138, 196, 116, 1) 0%,
    rgba(74, 223, 167, 1) 100%
  );
  border-radius: 12px;
  padding: 60px;
}

.loginLabel {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color: azure;
}
