.loginContainer {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 12px;
  padding: 60px;
}

.loginLabel {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
