.App {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sideBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: bisque;
  height: 100vh;
}

.loginComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .sideBar {
    height: 10vh;
    width: 100vh;
    padding: 50px 0;
  }

  .loginComponent {
    margin-left: 0;
    margin-top: 50px;
  }
}
